@media screen and (min-width: 100px) {
        .doctor-main img {
            display: none;
            width: 50%;
            position: relative;
            object-fit: cover;
        }
    .Product-main div h2 {
        border: 1px solid gray;
    }
}
@media screen and (min-width: 360px) {
    .doctor-main{
        display: flex;
        align-items: center;
        text-align: start;
        background-color: rgb(121, 224, 121);
        padding: 0 1rem;
        padding-top: 1rem;
        border-radius: 8px;
        margin-top: 1rem;
    }
    .doctor-main img {
        position: relative;
        object-fit: cover;
    }
    .doctor-main div {
        position: absolute;
        color: white;
        padding: 1rem;
    }
    .doctor-main div h1 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .doctor-main div p {
        font-size: 0.8rem;
        width: 80%;
        font-weight: bold;
    }
    .doctor-main div button {
        margin-top: 5rem;
    }
    .Product-main {
        background-color: rgb(255, 65, 65);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        margin-top: 1rem;
        width: 100%;
    }
    .Product-main img {
        width: 150px;
        background-color: white;
        margin-top: 2rem;
        border-radius: 30px;
    }
    .Product-main div {
        width: 100%;
    }
    .Product-main div h1 {
        font-size: 1rem;
        margin-top: 2rem;
    }
    .Product-main div p {
        color: rgb(193, 193, 193);
    }
    .Product-main div div {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .Product-main div div h3 {
        padding: 0 1rem;
    }
}
@media screen and (min-width: 680px) {
}
@media screen and (min-width: 990px) {
    .main-container {
        display: flex;
        
        gap: 1rem;
    }
    .doctor-main {
        width: 80%;
        height: 400px;
    }
    .Product-main {
        width: 30%;
    }
    .doctor-main div h1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .doctor-main div p {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {

}